.dashboard-content {
  .cards-row {
    display: flex;
    flex-direction: row;
    padding-top: 7%;
    gap: 80px;

    &-card {
      width: 400px;
      height: 210px;
      background: #202123;
      border-radius: 34px;
      display: flex;
      flex-direction: column;
      &-top {
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 22px;
        height: 50px;
        &-icon {
          width: 46px;
          height: 46px;
          padding: 8px;
          background-color: grey;
          align-items: center;
          border-radius: 20px;
          padding: 9px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .MuiSvgIcon-root {
          width: 24px;
          height: 24px;
          color: #ffffff;
          width: 30px;
          height: 52px;
        }

        &-title {
          flex: 1;
          color: #ffffff;
          font-weight: 550;
          font-size: 22px;
          padding-left: 20px;
          align-self: center;
          &-prt2 {
            flex: 1;
            font-weight: 550;
            font-size: 22px;
            padding-left: 20px;
            align-self: center;
          }
        }
      }
      &-middle {
        flex: 1;
        color: #ffffff;
        padding-left: 20px;
        font-size: 31px;
      }
      &-rest {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
        &-icon {
          .MuiSvgIcon-root {
            padding-right: 12px;
            color: white;
            padding-left: 18px;
            width: 51px;
          }
        }
        &-pcntge {
          flex: 1;
          width: 56px;
          height: 25px;
          color: #ffffff;
          font-size: 18px;
        }
        &-t {
          flex: 1;
          width: 103px;
          height: 25px;
          color: #ffffff;
          font-size: 18px;
          text-align: left;
        }
      }
    }
    .cards-row-card-bm {
      display: flex;
      flex-direction: row;
      &-btm {
        flex: 1;
        display: flex;
        flex-direction: column;
        &-bottom {
          flex: 1;
          display: flex;
          flex-direction: column;
          &-line {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
            align-items: center;
            &-c {
              width: 16px;
              height: 16px;
              padding: 8px 8px 8px 8px;
              background: #3a3a3a;
              border-radius: 2px 2px 2px 2px;
            }
            &-cc {
              width: 149px;
              color: #202123;
              font-family: 'Source Sans 3';
              font-weight: 600;
              font-size: 15px;
              line-height: 1.8;
              text-align: left;
            }
            &-e {
              width: 16px;
              height: 16px;
              padding: 8px 8px 8px 8px;
              background: #8c8c8d;
              border-radius: 2px 2px 2px 2px;
            }
            &-p {
              width: 16px;
              height: 16px;
              padding: 8px 8px 8px 8px;
              background: #d8d9db;
              border-radius: 2px 2px 2px 2px;
            }
          }
        }
      }
      &-tt {
        flex: 1;
        align-self: center;
      }
    }
  }
}
