.question-card-container {
  width: 100%;
  .problem-card {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      &-response {
        resize: vertical;
      }
    }
  }
}
